In [1]:
import pandas as pd

In [2]:
fuel = pd.read_csv('./data/fuel.csv', usecols=[ 'Year','Make','Model','Range (FT1)','City Range (FT1)'],
                  index_col=['Year','Make','Model'])
fuel.head()

                                    Range (FT1)  City Range (FT1)
Year Make       Model
1984 Alfa Romeo GT V6 2.5                   0.0               0.0
                GT V6 2.5                   0.0               0.0
                Spider Veloce 2000          0.0               0.0
                Spider Veloce 2000          0.0               0.0
     AM General DJ Po Vehicle 2WD           0.0               0.0

In [3]:
fuel = fuel.swaplevel(i=0,j=1)
fuel.sort_index()
fuel.loc['Alfa Romeo',1984,'Spider Veloce 2000']

C:\Users\marci\anaconda3\lib\site-packages\ipykernel_launcher.py:3: PerformanceWarning: indexing past lexsort depth may impact performance.
  This is separate from the ipykernel package so we can avoid doing imports until

                                    Range (FT1)  City Range (FT1)
Make       Year Model
Alfa Romeo 1984 Spider Veloce 2000          0.0               0.0
                Spider Veloce 2000          0.0               0.0

In [4]:
fuel = fuel.swaplevel(i=1,j=2)
fuel.sort_index()
fuel.loc['Alfa Romeo','Spider Veloce 2000',1984]

C:\Users\marci\anaconda3\lib\site-packages\ipykernel_launcher.py:3: PerformanceWarning: indexing past lexsort depth may impact performance.
  This is separate from the ipykernel package so we can avoid doing imports until

                                    Range (FT1)  City Range (FT1)
Make       Model              Year
Alfa Romeo Spider Veloce 2000 1984          0.0               0.0
                              1984          0.0               0.0