In [1]:
import pandas as pd
import numpy as np

In [18]:
surveys = pd.read_csv('./data/StackOverflowDeveloperSurvey2018.csv', usecols=['Country','Gender','OperatingSystem'],
                     low_memory=False)
surveys.head()

          Country OperatingSystem Gender
0           Kenya     Linux-based   Male
1  United Kingdom     Linux-based   Male
2   United States             NaN    NaN
3   United States         Windows   Male
4    South Africa         Windows   Male

In [4]:
surveys['Country'].is_unique

False

In [22]:
surveys.Country.unique()[:20] #surveys.drop_duplicates(subset=['Country']).head()

array(['Kenya', 'United Kingdom', 'United States', 'South Africa',
       'Nigeria', 'India', 'Spain', 'Croatia', 'Netherlands', 'Israel',
       'Sweden', 'Chile', 'Australia', 'Greece', 'Poland', 'Belgium',
       'Argentina', 'Germany', 'Russian Federation', 'Indonesia'],
      dtype=object)

In [10]:
surveys['Country'].nunique()

183

In [17]:
duplicatesKeepFirst = surveys['Country'].duplicated(keep='last')
surveys[~duplicatesKeepFirst].head()

0     True
1     True
2     True
3     True
4     True
5     True
6     True
7     True
8     True
9     True
10    True
11    True
12    True
13    True
14    True
15    True
16    True
17    True
18    True
19    True
Name: Country, dtype: bool

In [23]:
surveys.drop_duplicates(subset=['Country','OperatingSystem'], inplace=True)
surveys.head()

          Country OperatingSystem Gender
0           Kenya     Linux-based   Male
1  United Kingdom     Linux-based   Male
2   United States             NaN    NaN
3   United States         Windows   Male
4    South Africa         Windows   Male

In [25]:
surveys.query('Country == "Poland"')

      Country OperatingSystem Gender
30     Poland     Linux-based   Male
34     Poland         Windows   Male
232    Poland             NaN    NaN
854    Poland           MacOS   Male
72587  Poland        BSD/Unix    NaN