In [1]:
import pandas as pd
import numpy as np

In [2]:
mcdonalds = pd.read_csv('./data/mcdonalds.csv', usecols=['Category','Item','Calories','TotalFat'])
mcdonalds.head()

    Category                              Item  Calories  TotalFat
0  Breakfast                      Egg McMuffin       300      13.0
1  Breakfast                 Egg White Delight       250       8.0
2  Breakfast                  Sausage McMuffin       370      23.0
3  Breakfast         Sausage McMuffin with Egg       450      28.0
4  Breakfast  Sausage McMuffin with Egg Whites       400      23.0

In [3]:
excelWriter = pd.ExcelWriter('./data/mcdonalds-excel.xls')

In [4]:
mcdonalds.to_excel(excelWriter, sheet_name='Menu', index=False)

In [5]:
excelWriter.save()

In [8]:
imported1 = pd.read_excel('./data/mcdonalds-excel.xls')

In [9]:
imported1.head()

    Category                              Item  Calories  TotalFat
0  Breakfast                      Egg McMuffin       300      13.0
1  Breakfast                 Egg White Delight       250       8.0
2  Breakfast                  Sausage McMuffin       370      23.0
3  Breakfast         Sausage McMuffin with Egg       450      28.0
4  Breakfast  Sausage McMuffin with Egg Whites       400      23.0

In [10]:
imported1['Calories'] /= 2
imported1.head()

    Category                              Item  Calories  TotalFat
0  Breakfast                      Egg McMuffin     150.0      13.0
1  Breakfast                 Egg White Delight     125.0       8.0
2  Breakfast                  Sausage McMuffin     185.0      23.0
3  Breakfast         Sausage McMuffin with Egg     225.0      28.0
4  Breakfast  Sausage McMuffin with Egg Whites     200.0      23.0

In [11]:
mcdonalds.to_excel(excelWriter, sheet_name='Menu Light', index=False)

In [12]:
imported1['Calories'] /= 2
imported1.head()

    Category                              Item  Calories  TotalFat
0  Breakfast                      Egg McMuffin      75.0      13.0
1  Breakfast                 Egg White Delight      62.5       8.0
2  Breakfast                  Sausage McMuffin      92.5      23.0
3  Breakfast         Sausage McMuffin with Egg     112.5      28.0
4  Breakfast  Sausage McMuffin with Egg Whites     100.0      23.0

In [13]:
mcdonalds.to_excel(excelWriter, sheet_name='Menu Extra Light', index=False)

In [14]:
excelWriter.save()

In [20]:
final = pd.read_excel('./data/mcdonalds-excel.xls', sheet_name=[0,1,2])

In [21]:
len(final)

3

In [23]:
final[0].head()

    Category                              Item  Calories  TotalFat
0  Breakfast                      Egg McMuffin       300      13.0
1  Breakfast                 Egg White Delight       250       8.0
2  Breakfast                  Sausage McMuffin       370      23.0
3  Breakfast         Sausage McMuffin with Egg       450      28.0
4  Breakfast  Sausage McMuffin with Egg Whites       400      23.0