In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('../data/results.csv')
data['tournament'].unique()

array(['Friendly', 'British Championship', 'Copa Lipton', 'Copa Newton',
       'Copa Premio Honor Argentino', 'Copa Premio Honor Uruguayo',
       'Copa Roca', 'Copa América', 'Copa Chevallier Boutell',
       'Nordic Championship', 'International Cup', 'Baltic Cup',
       'Balkan Cup', 'FIFA World Cup', 'Copa Rio Branco',
       'FIFA World Cup qualification', 'CCCF Championship',
       'NAFU Championship', 'Copa Oswaldo Cruz',
       'Pan American Championship', 'Copa del Pacífico',
       "Copa Bernardo O'Higgins", 'AFC Asian Cup qualification',
       'Atlantic Cup', 'AFC Asian Cup', 'African Cup of Nations',
       'Copa Paz del Chaco', 'Merdeka Tournament',
       'UEFA Euro qualification', 'UEFA Euro',
       'Windward Islands Tournament',
       'African Cup of Nations qualification', 'Vietnam Independence Cup',
       'Copa Carlos Dittborn', 'CONCACAF Championship',
       'Copa Juan Pinto Durán', 'UAFA Cup', 'South Pacific Games',
       'CONCACAF Championship qualification', 'Copa Artigas', 'GaNEFo',
       "King's Cup", 'Gulf Cup', 'Indonesia Tournament', 'Korea Cup',
       'Brazil Independence Cup', 'Copa Ramón Castilla',
       'Oceania Nations Cup', 'CECAFA Cup', 'Copa Félix Bogado',
       'Kirin Cup', 'CFU Caribbean Cup qualification',
       'CFU Caribbean Cup', 'Amílcar Cabral Cup', 'Mundialito',
       'West African Cup', 'Nehru Cup', 'Merlion Cup', 'UDEAC Cup',
       'Rous Cup', 'Lunar New Year Cup', 'Tournoi de France',
       'Malta International Tournament', 'Island Games', 'Dynasty Cup',
       'UNCAF Cup', 'Gold Cup', 'USA Cup',
       'Jordan International Tournament', 'Confederations Cup',
       'United Arab Emirates Friendship Tournament',
       'Oceania Nations Cup qualification', 'Simba Tournament',
       'SAFF Cup', 'AFF Championship', 'King Hassan II Tournament',
       'Cyprus International Tournament', 'Dunhill Cup', 'COSAFA Cup',
       'Gold Cup qualification', 'SKN Football Festival', 'UNIFFAC Cup',
       'WAFF Championship', 'Millennium Cup', "Prime Minister's Cup",
       'EAFF Championship', 'AFC Challenge Cup', 'FIFI Wild Cup',
       'ELF Cup', 'Viva World Cup', 'UAFA Cup qualification',
       'AFC Challenge Cup qualification', 'African Nations Championship',
       'VFF Cup', 'Dragon Cup', 'ABCS Tournament',
       'Nile Basin Tournament', 'Nations Cup', 'Pacific Games', 'OSN Cup',
       'CONIFA World Football Cup', 'CONIFA European Football Cup',
       'Copa América qualification', 'World Unity Cup',
       'Intercontinental Cup', 'AFF Championship qualification',
       'UEFA Nations League', 'CONCACAF Nations League qualification',
       'African Nations Championship qualification',
       'Atlantic Heritage Cup', 'Inter Games Football Tournament',
       'CONCACAF Nations League'], dtype=object)

In [3]:
euro_filter = data['tournament'] == 'UEFA Euro'
euro_results = data[euro_filter]
euro_results.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 286 entries, 4731 to 38154
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        286 non-null    object
 1   home_team   286 non-null    object
 2   away_team   286 non-null    object
 3   home_score  286 non-null    int64
 4   away_score  286 non-null    int64
 5   tournament  286 non-null    object
 6   city        286 non-null    object
 7   country     286 non-null    object
 8   neutral     286 non-null    bool
dtypes: bool(1), int64(2), object(6)
memory usage: 117.0 KB

In [4]:
del euro_results['tournament']
euro_results['date'] = euro_results.apply(lambda x : x['date'][:4], axis=1)
euro_results['home_team'] = euro_results['home_team'].astype('category')
euro_results['away_team'] = euro_results['away_team'].astype('category')
euro_results['city'] = euro_results['city'].astype('category')
euro_results['country'] = euro_results['country'].astype('category')
euro_results.head()

C:\Users\marci\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\marci\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\marci\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\marci\anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\marci\anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,date,home_team,away_team,home_score,away_score,city,country,neutral
4731,1960,Czechoslovakia,Russia,0,3,Marseille,France,True
4732,1960,France,Yugoslavia,4,5,Paris,France,False
4734,1960,France,Czechoslovakia,0,2,Marseille,France,False
4739,1960,Russia,Yugoslavia,2,1,Paris,France,True
5628,1964,Denmark,Russia,0,3,Barcelona,Spain,True

In [5]:
euro_results.reset_index(inplace=True)
euro_results.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 286 entries, 0 to 285
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   index       286 non-null    int64
 1   date        286 non-null    object
 2   home_team   286 non-null    category
 3   away_team   286 non-null    category
 4   home_score  286 non-null    int64
 5   away_score  286 non-null    int64
 6   city        286 non-null    category
 7   country     286 non-null    category
 8   neutral     286 non-null    bool
dtypes: bool(1), category(4), int64(3), object(1)
memory usage: 41.2 KB

In [6]:
euro_results.to_csv('../data/results_euro.csv', index=False)