In [1]:
import pandas as pd
import numpy as np

In [9]:
suppliers = pd.read_csv('./data/northwind-mongo-master/suppliers _del_1.csv', usecols=['SupplierID','CompanyName','City'])

In [11]:
products = pd.read_csv('./data/northwind-mongo-master/products_del_1.csv', usecols=['ProductID','ProductName','SupplierID'])

In [13]:
prod_and_sup = suppliers.merge(products, how='inner')

In [15]:
print(len(suppliers),len(products),len(prod_and_sup))

27 75 70

In [21]:
prod_and_sup_outer = suppliers.merge(products, how='outer', indicator = True)
left_filt = prod_and_sup_outer['_merge'] == 'left_only'
only_left = prod_and_sup_outer[left_filt]
only_left

    SupplierID         CompanyName      City  ProductID ProductName     _merge
67          27  Escargots Nouveaux  Montceau        NaN         NaN  left_only

In [22]:
right_filt = prod_and_sup_outer['_merge'] == 'right_only'
only_right = prod_and_sup_outer[right_filt]
only_right

    SupplierID CompanyName City  ProductID          ProductName      _merge
71           9         NaN  NaN       22.0  Gustaf's Knäckebröd  right_only
72           9         NaN  NaN       23.0             Tunnbröd  right_only
73          17         NaN  NaN       36.0          Inlagd Sill  right_only
74          17         NaN  NaN       37.0           Gravad lax  right_only
75          17         NaN  NaN       73.0           Röd Kaviar  right_only