In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math

In [4]:
salary = pd.read_csv('./data/StackOverflowDeveloperSurvey.csv', usecols=['Salary'], squeeze=True).dropna()
salary.head()

2     113750.0
14    100000.0
17    130000.0
18     82500.0
22    100764.0
Name: Salary, dtype: float64

In [5]:
salary.size

12891

In [7]:
print(min(salary))
print(max(salary))

0.0
197000.0

In [8]:
list(salary.head())

[113750.0, 100000.0, 130000.0, 82500.0, 100764.0]

In [9]:
dict(salary.head())

{2: 113750.0, 14: 100000.0, 17: 130000.0, 18: 82500.0, 22: 100764.0}

In [12]:
listSalarySorted = sorted(salary, reverse=True)
listSalarySorted[:5]

[197000.0, 195000.0, 195000.0, 195000.0, 195000.0]

In [13]:
salary.name = 'Salary of a person'
salary.head()

2     113750.0
14    100000.0
17    130000.0
18     82500.0
22    100764.0
Name: Salary of a person, dtype: float64