In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math

In [2]:
age = ['6','7-14','15-17','18-24','25-39','40-59','60+']
accidents = [14,334,312,5823,9491,7486,4343]

In [3]:
ageAccidents = pd.Series(accidents,age)

In [4]:
ageAccidents.where(ageAccidents > 1000)

6           NaN
7-14        NaN
15-17       NaN
18-24    5823.0
25-39    9491.0
40-59    7486.0
60+      4343.0
dtype: float64

In [5]:
ageAccidents.where(ageAccidents > 1000).dropna()

18-24    5823.0
25-39    9491.0
40-59    7486.0
60+      4343.0
dtype: float64

In [6]:
incident1000 = ageAccidents.where(ageAccidents > 1000).dropna()
incident1000

18-24    5823.0
25-39    9491.0
40-59    7486.0
60+      4343.0
dtype: float64

In [7]:
ageAccidents

6          14
7-14      334
15-17     312
18-24    5823
25-39    9491
40-59    7486
60+      4343
dtype: int64

In [8]:
ageAccidents.filter(items=['18-24','25-39','40-59'])

18-24    5823
25-39    9491
40-59    7486
dtype: int64

In [10]:
ageAccidents.where(ageAccidents <= 1000, inplace=True)
ageAccidents.dropna(inplace=True)
ageAccidents

6         14.0
7-14     334.0
15-17    312.0
dtype: float64